* {
  padding: 0;
  margin: 0;
}

#carrousel {
  height: 50px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
}

.bouton {
  border: solid 2px midnightblue;
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: midnightblue;
  margin-bottom: 20px;
}

.corps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 10%;
}

li {
  width: 100%;
}

img {
  justify-self: center;
  margin-bottom: 50px;
}

#reponse-guitare {
  display: flex;
  flex-direction: column;
  align-items: center;
}